*.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/Carlos[[:space:]]Dave[[:space:]]Sidney/OneDrive/Desktop/Data[[:space:]]205/final[[:space:]]project/new_crime.csv filter=lfs diff=lfs merge=lfs -text
